<div class="contactCont">
    <img class="contactImg" src="/assets/images/mountain2.png">
</div>
<div class="contactCont2 f">
  <div class="contactText">
      <div>Hard word will be honoured</div>
      <div>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
      </div>
  </div>
  <div class="contactRedRect background-red">
    <div>Don't hesitate to contact us</div>
    <div><input class="contactInput background-grey" placeholder="Name"></div>
    <div><input class="contactInput background-grey" placeholder="Phone"></div>
    <div><input class="contactInput background-grey" placeholder="Email"></div>
    <div class="contactButtonCont f width100">
      <div class="contactButton f f-cent f-space-bet background-blue">
        <div>Off you go</div>
        <img src="/assets/images/arrow_right.png">
      </div>
    </div>
  </div>
</div>