<div class="cardsCont f f-col f-cent">
  <div>To the edge and beyond</div>
  <div class="cardFlow f">
    <div class="cardInstance f f-col f-cent">
      <div (mouseenter)="cardMouseEnter($event)" (mouseleave)="cardMouseLeave($event)" class="cardImgCont" id="cardImgCont1">
        <div class="cardImgOverlay"></div>
        <div class="cardImgPlus f f-cent">
            <img src="/assets/images/plus_sign1.png">
        </div>
        <img src="/assets/images/card1.png">
      </div>
      <div>Closed eyes</div>
      <div class="cardsRedline background-red"></div>
      <div class="text-cent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
    </div>
    <div class="cardInstance f f-col f-cent">
      <div (mouseenter)="cardMouseEnter($event)" (mouseleave)="cardMouseLeave($event)" class="cardImgCont" id="cardImgCont2">
        <div class="cardImgOverlay"></div>
        <div class="cardImgPlus f f-cent">
          <img src="/assets/images/plus_sign1.png">
        </div>
        <img src="/assets/images/card3.png">
      </div>
      <div>Deep breath</div>
      <div class="cardsRedline background-red"></div>
      <div class="text-cent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
    </div>
    <div class="cardInstance f f-col f-cent">
      <div (mouseenter)="cardMouseEnter($event)" (mouseleave)="cardMouseLeave($event)" class="cardImgCont" id="cardImgCont3">
        <div class="cardImgOverlay"></div>
        <div class="cardImgPlus f f-cent">
            <img src="/assets/images/plus_sign1.png">
        </div>
        <img src="/assets/images/card1.png">
      </div>
      <div>Press on</div>
      <div class="cardsRedline background-red"></div>
      <div class="text-cent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
    </div>
  </div>
  <div class="cardsButtonCont f f-cent width100">
    <div class="cardsButton f f-cent f-space-bet background-blue">
      <div>Show more</div>
      <img src="/assets/images/arrow_right.png">
    </div>
  </div>
</div>